.card{
  border-radius: 8px;

  background-color: white;
  width: 240px!important;
  height: 240px;
  margin: 12px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding: 8px;

    .subcard{
      overflow-y: scroll;
      margin: 12px;
      width: 220px!important;
      height: 220px;

    }

}
